# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sensitive files
rabbitcred.json
bot_errors.log